# Python bytecode og cache-filer
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Miljøfiler
.env
.venv/
venv/
env/
pip-log.txt
pip-delete-this-directory.txt

# AWS SAM build-artefakter og lokale testdata
.aws-sam/
.events/

# Cloud9 spesifikke filer
.c9/
.c9revisions
*.launch

# Loggfiler
*.log
*.tmp
*.swp
*.swo

# IDE og editor spesifikke filer
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Pytest og andre tester
*.coverage
.cache/
.tox/
nosetests.xml
coverage.xml
*.cover
test-output/

# Installerbare pakker
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg

# Komprimerte filer og arkiver
*.tar.gz
*.zip
*.tar
*.rar
*.gz
*.bz2

# Andre unødvendige filer
*.DS_Store
Thumbs.db

# Terraform spesifikke filer
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf      
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.plan
terraform.tfvars

# --- Java spesifikke filer og mapper ---

# Kompilasjonsartefakter
*.class

# Mappen for utdata (target) generert av byggesystemer som Maven og Gradle
target/
out/
bin/

# Loggfiler og rapporter generert av testkjøringer
*.log
*.tmp
hs_err_pid*
*.hprof
test-output/

# Maven spesifikke filer og mapper
.mvn/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
**/target/
**/dependency-reduced-pom.xml
release.properties
dependency-reduced-pom.xml

# Gradle spesifikke filer og mapper
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/wrapper/gradle-wrapper.properties
**/build/

# IntelliJ IDEA spesifikke filer
*.iml
*.iws
.idea/
out/

# Eclipse spesifikke filer
.classpath
.project
.settings/
.factorypath

# NetBeans spesifikke filer
nbproject/private/
nbbuild/
dist/
nbdist/
*.nb-gradle/

# BlueJ spesifikke filer
*.ctxt

# JRebel spesifikke filer
rebel.xml

# SonarQube rapporter
.sonar/

# Micronaut spesifikke filer
.mn/

# Logs and Database files
*.log
*.sql
*.sqlite

# Java Server Pages temporære filer
*.jsp

